<h4>Expense list</h4>
<div class="card my-5">
  <div class="card-body">
    <ul>
      <li class="float-left">
        <button type="button" class="btn-floating waves-light buttons-light-blue" (click)="previousPage()">
          <i class="material-icons">arrow_back</i>
        </button>
      </li>
      <li class="float-left page-name font-weight-bold">
        Page:  {{(page.number + 1) + '/' + responseExpenses.totalPages}}
      </li>
      <li class="float-left">
        <button type="button" class="btn-floating waves-light buttons-light-blue" (click)="nextPage()">
          <i class="material-icons">arrow_forward</i>
        </button>
      </li>
      <li class="float-left page-name font-weight-bold">
        Page Size:
      </li>
      <li class="float-left">
        <button type="button" class="btn-floating waves-light buttons-light-blue font-weight-bold"
                (click)="setPageSize10()">
          10
        </button>
      </li>
      <li class="float-left">
        <button type="button" class="btn-floating waves-light buttons-light-blue font-weight-bold"
                (click)="setPageSize20()">
          20
        </button>
      </li>
      <li class="float-left">
        <button type="button" class="btn-floating waves-light buttons-light-blue font-weight-bold"
                (click)="setPageSize50()">
          50
        </button>
      </li>
    </ul>
    <br>
    <form [formGroup]="expenseEditForm" (ngSubmit)="addExpense()">
      <table class="table table-stripped">
        <thead class="table-head-light-blue">
        <tr>
          <th scope="col">Action</th>
          <th scope="col">User</th>
          <th scope="col">Amount</th>
          <th scope="col">Currency</th>
          <th scope="col">Description</th>
          <th scope="col">Category</th>
          <th scope="col">Pay Method</th>
          <th scope="col">Pay Date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="!edit">
          <td scope="col">
            <button type="submit" class="btn-floating waves-light table-head-light-blue">
              <i class="material-icons">add</i>
            </button>
          </td>
          <th scope="col">
            <input type="text" class="form-control" formControlName="user" name="user" id="user">
          </th>
          <th scope="col">
            <input type="text" class="form-control" formControlName="amount" name="amount" id="amount">
          </th>
          <th scope="col">
            <input type="text" class="form-control" formControlName="currency" name="currency" id="currency">
          </th>
          <th scope="col">
            <input type="text" class="form-control" formControlName="description" name="description" id="description">
          </th>
          <th scope="col">
            <input type="text" class="form-control" formControlName="categoryName" name="categoryName"
                   id="categoryName">
          </th>
          <th scope="col">
            <input type="text" class="form-control" formControlName="payMethodName" name="payMethodName"
                   id="payMethodName">
          </th>
          <th scope="col">
            <input type="date" class="form-control" formControlName="payDate" name="payDate" id="payDate">
          </th>
        </tr>
        <tr *ngIf="edit">
          <td>
            <button type="button" class="btn-floating waves-light table-head-light-blue">
              <i class="material-icons"></i>
            </button>
          </td>
        </tr>
        <tr *ngFor="let expense of responseExpenses.expenses" class="table-stripped">
          <td *ngIf="!edit || edit && expense.id != expenseId">
            <button type="button" class="btn-floating waves-light buttons-light-red"
                    (click)="deleteExpense(expense.id)">
              <i class="material-icons">remove</i>
            </button>
            <button type="button" class="btn-floating waves-light buttons-light-blue"
                    [routerLink]="['/expense-details/', expense.id]">
              <i class="material-icons">visibility</i>
            </button>
            <button type="button" class="btn-floating waves-light buttons-light-blue" (click)="setEditOn(expense.id)">
              <i class="material-icons">edit</i>
            </button>
          </td>
          <td *ngIf="edit && expense.id == expenseId">
            <button type="button" class="btn-floating waves-light buttons-light-red" (click)="setEditOff()" (keyup.escape)="setEditOff()">
              <i class="material-icons">clear</i>
            </button>
            <button type="button" class="btn-floating waves-light buttons-light-blue" (click)="setEditOffWithUpdate()" (keyup.enter)="setEditOffWithUpdate()">
              <i class="material-icons">done</i>
            </button>
          </td>
          <td *ngIf="!edit || edit && expense.id != expenseId">{{ expense.user }}</td>
          <td *ngIf="edit && expense.id == expenseId">
            <input type="text" class="form-control" formControlName="user" name="user" id="userEdit">
          </td>
          <td *ngIf="!edit || edit && expense.id != expenseId">{{ expense.amount }}</td>
          <td *ngIf="edit && expense.id == expenseId">
            <input type="text" class="form-control" formControlName="amount" name="amount" id="amountEdit">
          </td>
          <td *ngIf="!edit || edit && expense.id != expenseId">{{ expense.currency }}</td>
          <td *ngIf="edit && expense.id == expenseId">
            <input type="text" class="form-control" formControlName="currency" name="currency" id="currencyEdit">
          </td>
          <td *ngIf="!edit || edit && expense.id != expenseId">{{ expense.description }}</td>
          <td *ngIf="edit && expense.id == expenseId">
            <input type="text" class="form-control" formControlName="description" name="description" id="descriptionEdit">
          </td>
          <td *ngIf="!edit || edit && expense.id != expenseId">{{ expense.expenseCategory.categoryName }}</td>
          <td *ngIf="edit && expense.id == expenseId">
            <input type="text" class="form-control" formControlName="categoryName" name="categoryName" id="categoryEdit">
          </td>
          <td *ngIf="!edit || edit && expense.id != expenseId">{{ expense.payMethod.payMethodName }}</td>
          <td *ngIf="edit && expense.id == expenseId">
            <input type="text" class="form-control" formControlName="payMethodName" name="payMethodName" id="payMethodEdit">
          </td>
          <td *ngIf="!edit || edit && expense.id != expenseId">{{ expense.payDate }}</td>
          <td *ngIf="edit && expense.id == expenseId">
            <input type="text" class="form-control" formControlName="payDate" name="payDate" id="payDateEdit">
          </td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>

