.table-head-light-blue {
  color: black;
  background-color: #99ccff;
}

.buttons-light-blue {
  color: white;
  background-color: #99ccff;
}

.page-name {
  color: black;
  padding: 10px;
}

.table-stripped {
}

.table-stripped:nth-child(odd) {
  background-color: #e6f2ff;
}

.table-stripped:nth-child(even) {
  background-color: white;
}
