<h3>Expense list</h3>
<div class="card my-5">
  <div class="card-body">
    <form [formGroup]="expenseAddForm" (ngSubmit)="onSubmit()">
      <table class="table table-stripped">
        <thead class="table-head-light-blue">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">User</th>
          <th scope="col">Amount</th>
          <th scope="col">Currency</th>
          <th scope="col">Description</th>
          <th scope="col">Category</th>
          <th scope="col">Pay Method</th>
          <th scope="col">Pay Date</th>

          <!--          <th scope="col">Created by</th>-->
          <!--          <th scope="col">Updated by</th>-->
          <!--          <th scope="col">Create date</th>-->
          <!--          <th scope="col">Update date</th>-->
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="col">
            <button type="submit" class="btn-floating waves-light table-head-light-blue">
              <i class="material-icons">add</i>
            </button>
          </th>
          <th scope="col">
            <input type="text" class="form-control" formControlName="user" name="user" id="user">
          </th>
          <th scope="col">
            <input type="text" class="form-control" formControlName="amount" name="amount" id="amount">
          </th>
          <th scope="col">
            <input type="text" class="form-control" formControlName="currency" name="currency" id="currency">
          </th>
          <th scope="col">
            <input type="text" class="form-control" formControlName="description" name="description" id="description">
          </th>
          <th scope="col">
            <input type="text" class="form-control" formControlName="categoryName" name="categoryName"
                   id="categoryName">
          </th>
          <th scope="col">
            <input type="text" class="form-control" formControlName="payMethodName" name="payMethodName"
                   id="payMethodName">
          </th>
          <th scope="col">
            <input type="date" class="form-control" formControlName="payDate" name="payDate" id="payDate">
          </th>
        </tr>
        <tr *ngFor="let expense of responseExpenses.expenses" class="table-stripped">
          <td>{{ expense.id }}</td>
          <td>{{ expense.user }}</td>
          <td>{{ expense.amount }}</td>
          <td>{{ expense.currency }}</td>
          <td>{{ expense.description }}</td>
          <td>{{ expense.expenseCategory.categoryName }}</td>
          <td>{{ expense.payMethod.payMethodName }}</td>
          <td>{{ expense.payDate }}</td>
          <!--          <td>{{ expense.createdUser }}</td>-->
          <!--          <td>{{ expense.updatedUser }}</td>-->
          <!--          <td>{{ expense.createdDate }}</td>-->
          <!--          <td>{{ expense.updatedDate }}</td>-->
        </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>

