<h3>Expense list</h3>
<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">User</th>
        <th scope="col">Amount</th>
        <th scope="col">Currency</th>
        <th scope="col">Description</th>
        <th scope="col">payDate</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let expense of expenses">
        <td>{{ expense.id }}</td>
        <td>{{ expense.user }}</td>
        <td>{{ expense.amount }}</td>
        <td>{{ expense.currency }}</td>
        <td>{{ expense.description }}</td>
        <td>{{ expense.payDate }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

