<h5>Expense list</h5>
<div class="card my-5">
  <div class="card-body">
    <ul class="float-left">
      <li class="float-left">
        <button type="button" class="btn-floating waves-light buttons-light-blue" (click)="previousPage()">
          <i class="material-icons">arrow_back</i>
        </button>
      </li>
      <li class="float-left page-name font-weight-bold">
        Page:  {{ getPageNumber() + '/' + responseExpenses.totalPages}}
      </li>
      <li class="float-left">
        <button type="button" class="btn-floating waves-light buttons-light-blue" (click)="nextPage()">
          <i class="material-icons">arrow_forward</i>
        </button>
      </li>
      <li class="float-left page-name font-weight-bold">
        Page Size:
      </li>
      <li class="float-left">
        <button type="button" class="btn-floating waves-light buttons-light-blue font-weight-bold"
                (click)="setPageSize10()">
          10
        </button>
      </li>
      <li class="float-left">
        &nbsp;
      </li>
      <li class="float-left">
        <button type="button" class="btn-floating waves-light buttons-light-blue font-weight-bold"
                (click)="setPageSize20()">
          20
        </button>
      </li>
      <li class="float-left">
        &nbsp;
      </li>
      <li class="float-left">
        <button type="button" class="btn-floating waves-light buttons-light-blue font-weight-bold"
                (click)="setPageSize50()">
          50
        </button>
      </li>
    </ul>
<!--    <app-expense-spec-form></app-expense-spec-form>-->
    <form [formGroup]="searchForm" (ngSubmit)="setNewSearchCriteria()">
        <ul class="float-right">
          <li class="float-left">
            <button type="submit" class="btn-floating waves-light buttons-light-blue font-weight-bold">
              <i class="material-icons">search</i>
            </button>
          </li>
          <li class="float-left">
            &nbsp;
          </li>
          <li class="float-left" formGroupName="search">
            <input type="text" class="form-control float-right" formControlName="content" name="content" id="content"
                   placeholder="Search">
          </li>
          <li class="float-left page-name font-weight-bold">
            Amount:
          </li>
          <li class="float-left" formGroupName="fromAmount">
            <input type="text" class="form-control float-right" formControlName="content" name="fromAmount"
                   id="fromAmount" placeholder="from">
          </li>
          <li class="float-left" formGroupName="toAmount">
            <input type="text" class="form-control float-right" formControlName="content" name="toAmount"
                   id="toAmount" placeholder="to">
          </li>
          <li class="float-left page-name font-weight-bold">
            Pay Date:&nbsp;<span class="font-weight-light">from</span>
          </li>
          <li class="float-left" formGroupName="fromPayDate">
            <input type="date" class="form-control float-right" formControlName="content" name="fromPayDate"
                   id="fromPayDate">
          </li>
          <li class="float-left page-name font-weight-bold">
            &nbsp;<span class="font-weight-light">to</span>
          </li>
          <li class="float-left" formGroupName="toPayDate">
            <input type="date" class="form-control float-right" formControlName="content" name="toPayDate"
                   id="toPayDate">
          </li>
        </ul>
      </form>
    <br>
    <form [formGroup]="expenseEditForm" (ngSubmit)="addExpense()">
      <table class="table table-stripped">
        <thead class="table-head-light-blue">
        <tr>
          <th scope="col"></th>
          <th scope="col">User &nbsp;
            <button type="button" class="btn-floating buttons-light-blue"
                    (click)="setUserSortASC()"
                    *ngIf="showDefaultSortUserBtn() == true">
              <i class="material-icons">unfold_more</i>
            </button>
            <button type="button" class="btn-floating buttons-light-blue"
                    (click)="setUserSortDESC()"
                    *ngIf="showUserSortASCBtn() == true">
              <i class="material-icons">keyboard_arrow_down</i>
            </button>
            <button type="button" class="btn-floating buttons-light-blue"
                    (click)="setDefaultSort()"
                    *ngIf="showUserSortDESCBtn() == true">
              <i class="material-icons">keyboard_arrow_up</i>
            </button>
          </th>
          <th scope="col">Amount &nbsp;
            <button type="button" class="btn-floating buttons-light-blue"
                    (click)="setAmountSortASC()"
                    *ngIf="showDefaultSortAmountBtn() == true">
              <i class="material-icons">unfold_more</i>
            </button>
            <button type="button" class="btn-floating buttons-light-blue"
                    (click)="setAmountSortDESC()"
                    *ngIf="showAmountSortASCBtn() == true">
              <i class="material-icons">keyboard_arrow_down</i>
            </button>
            <button type="button" class="btn-floating buttons-light-blue"
                    (click)="setDefaultSort()"
                    *ngIf="showAmountSortDESCBtn() == true">
              <i class="material-icons">keyboard_arrow_up</i>
            </button>
          </th>
          <th scope="col">Currency &nbsp;
            <button type="button" class="btn-floating buttons-light-blue"
                    (click)="setCurrencySortASC()"
                    *ngIf="showDefaultSortCurrencyBtn() == true">
              <i class="material-icons">unfold_more</i>
            </button>
            <button type="button" class="btn-floating buttons-light-blue"
                    (click)="setCurrencySortDESC()"
                    *ngIf="showCurrencySortASCBtn() == true">
              <i class="material-icons">keyboard_arrow_down</i>
            </button>
            <button type="button" class="btn-floating buttons-light-blue"
                    (click)="setDefaultSort()"
                    *ngIf="showCurrencySortDESCBtn() == true">
              <i class="material-icons">keyboard_arrow_up</i>
            </button>
          </th>
          <th scope="col">Description &nbsp;
            <button type="button" class="btn-floating buttons-light-blue"
                    (click)="setDescriptionSortASC()"
                    *ngIf="showDefaultSortDescriptionBtn() == true">
              <i class="material-icons">unfold_more</i>
            </button>
            <button type="button" class="btn-floating buttons-light-blue"
                    (click)="setDescriptionSortDESC()"
                    *ngIf="showDescriptionSortASCBtn() == true">
              <i class="material-icons">keyboard_arrow_down</i>
            </button>
            <button type="button" class="btn-floating buttons-light-blue"
                    (click)="setDefaultSort()"
                    *ngIf="showDescriptionSortDESCBtn() == true">
              <i class="material-icons">keyboard_arrow_up</i>
            </button>
          </th>
          <th scope="col">Category &nbsp;
            <button type="button" class="btn-floating buttons-light-blue"
                    (click)="setCategorySortASC()"
                    *ngIf="showDefaultSortCategoryBtn() == true">
              <i class="material-icons">unfold_more</i>
            </button>
            <button type="button" class="btn-floating buttons-light-blue"
                    (click)="setCategorySortDESC()"
                    *ngIf="showCategorySortASCBtn() == true">
              <i class="material-icons">keyboard_arrow_down</i>
            </button>
            <button type="button" class="btn-floating buttons-light-blue"
                    (click)="setDefaultSort()"
                    *ngIf="showCategorySortDESCBtn() == true">
              <i class="material-icons">keyboard_arrow_up</i>
            </button>
          </th>
          <th scope="col">Pay Method &nbsp;
            <button type="button" class="btn-floating buttons-light-blue"
                    (click)="setPayMethodSortASC()"
                    *ngIf="showDefaultSortPayMethodBtn() == true">
              <i class="material-icons">unfold_more</i>
            </button>
            <button type="button" class="btn-floating buttons-light-blue"
                    (click)="setPayMethodSortDESC()"
                    *ngIf="showPayMethodSortASCBtn() == true">
              <i class="material-icons">keyboard_arrow_down</i>
            </button>
            <button type="button" class="btn-floating buttons-light-blue"
                    (click)="setDefaultSort()"
                    *ngIf="showPayMethodSortDESCBtn() == true">
              <i class="material-icons">keyboard_arrow_up</i>
            </button>
          </th>
          <th scope="col">Pay Date &nbsp;
            <button type="button" class="btn-floating buttons-light-blue"
                    (click)="setPayDateSortASC()"
                    *ngIf="showDefaultSortPayDateBtn() == true">
              <i class="material-icons">unfold_more</i>
            </button>
            <button type="button" class="btn-floating buttons-light-blue"
                    (click)="setPayDateSortDESC()"
                    *ngIf="showPayDateSortASCBtn() == true">
              <i class="material-icons">keyboard_arrow_down</i>
            </button>
            <button type="button" class="btn-floating buttons-light-blue"
                    (click)="setDefaultSort()"
                    *ngIf="showPayDateSortDESCBtn() == true">
              <i class="material-icons">keyboard_arrow_up</i>
            </button>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="!edit">
          <td scope="col">
            <button type="submit" class="btn-floating waves-light table-head-light-blue">
              <i class="material-icons">add</i>
            </button>
          </td>
          <th scope="col">
            <input type="text" class="form-control" formControlName="user" name="user" id="user">
          </th>
          <th scope="col">
            <input type="text" class="form-control" formControlName="amount" name="amount" id="amount">
          </th>
          <th scope="col">
            <input type="text" class="form-control" formControlName="currency" name="currency" id="currency">
          </th>
          <th scope="col">
            <input type="text" class="form-control" formControlName="description" name="description" id="description">
          </th>
          <th scope="col">
            <input type="text" class="form-control" formControlName="expenseCategory" name="expenseCategory"
                   id="expenseCategory">
          </th>
          <th scope="col">
            <input type="text" class="form-control" formControlName="payMethod" name="payMethod"
                   id="payMethod">
          </th>
          <th scope="col">
            <input type="date" class="form-control" formControlName="payDate" name="payDate" id="payDate">
          </th>
        </tr>
        <tr *ngIf="edit">
          <td>
            <button type="button" class="btn-floating waves-light table-head-light-blue">
              <i class="material-icons"></i>
            </button>
          </td>
        </tr>
        <tr *ngFor="let expense of responseExpenses.expenses" class="table-stripped">
          <td *ngIf="!edit || edit && expense.id != expenseId">
            <button type="button" class="btn-floating waves-light buttons-light-red"
                    (click)="deleteExpense(expense.id)">
              <i class="material-icons">remove</i>
            </button>
            <button type="button" class="btn-floating waves-light buttons-light-blue"
                    [routerLink]="['/expense-details/', expense.id]">
              <i class="material-icons">visibility</i>
            </button>
            <button type="button" class="btn-floating waves-light buttons-light-blue" (click)="setEditOn(expense.id)">
              <i class="material-icons">edit</i>
            </button>
          </td>
          <td *ngIf="edit && expense.id == expenseId">
            <button type="button" class="btn-floating waves-light buttons-light-red" (click)="setEditOff()"
                    (keyup.escape)="setEditOff()">
              <i class="material-icons">clear</i>
            </button>
            <button type="button" class="btn-floating waves-light buttons-light-blue" (click)="setEditOffWithUpdate()"
                    (keyup.enter)="setEditOffWithUpdate()">
              <i class="material-icons">done</i>
            </button>
          </td>
          <td *ngIf="!edit || edit && expense.id != expenseId">{{ expense.user }}</td>
          <td *ngIf="edit && expense.id == expenseId">
            <input type="text" class="form-control" formControlName="user" name="user" id="userEdit">
          </td>
          <td *ngIf="!edit || edit && expense.id != expenseId">{{ expense.amount }}</td>
          <td *ngIf="edit && expense.id == expenseId">
            <input type="text" class="form-control" formControlName="amount" name="amount" id="amountEdit">
          </td>
          <td *ngIf="!edit || edit && expense.id != expenseId">{{ expense.currency }}</td>
          <td *ngIf="edit && expense.id == expenseId">
            <input type="text" class="form-control" formControlName="currency" name="currency" id="currencyEdit">
          </td>
          <td *ngIf="!edit || edit && expense.id != expenseId">{{ expense.description }}</td>
          <td *ngIf="edit && expense.id == expenseId">
            <input type="text" class="form-control" formControlName="description" name="description"
                   id="descriptionEdit">
          </td>
          <td *ngIf="!edit || edit && expense.id != expenseId">{{ expense.expenseCategory }}</td>
          <td *ngIf="edit && expense.id == expenseId">
            <input type="text" class="form-control" formControlName="expenseCategory" name="expenseCategory"
                   id="expenseCategoryEdit">
          </td>
          <td *ngIf="!edit || edit && expense.id != expenseId">{{ expense.payMethod }}</td>
          <td *ngIf="edit && expense.id == expenseId">
            <input type="text" class="form-control" formControlName="payMethod" name="payMethod"
                   id="payMethodEdit">
          </td>
          <td *ngIf="!edit || edit && expense.id != expenseId">{{ expense.payDate }}</td>
          <td *ngIf="edit && expense.id == expenseId">
            <input type="text" class="form-control" formControlName="payDate" name="payDate" id="payDateEdit">
          </td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>

