<div style="font-size: xx-large">
  <ul class="float-left">
    <li class="float-left">
      Expense List&nbsp;&nbsp;&nbsp;
    </li>
    <li class="float-left">
      <button type="button" class="btn-floating btn-light-blue" (click)="previousMonth()" *ngIf="!flagEditDateActive">
        <i class="material-icons">arrow_back</i>
      </button>
    </li>
    <li class="float-left" style="text-align: center; min-width: 250px" *ngIf="!flagEditDateActive">
      &nbsp;{{getMonthName()}}&nbsp;{{getYear()}}&nbsp;
    </li>
    <li class="float-left" style="text-align: center; min-width: 250px" *ngIf="flagEditDateActive">
      <div class="float-left" *ngIf="flagEditDateActive">
        <form [formGroup]="formDate" (ngSubmit)="dateSubmit()">
          <ul class="float-left">
            <li class="float-left">
              &nbsp;
            </li>
            <li class="float-left">
              <button type="submit" class="btn-floating btn-light-blue">
                <i class="material-icons">done</i>
              </button>
            </li>
            <li class="float-left">
              &nbsp;
            </li>
            <li class="float-left dropdown">
              <select name="selectedMonth" id="selectedMonth" class="form-control" formControlName="month"
                      style="font-size: x-large">
                <option class="input" *ngFor="let month of monthNameList"
                        style="font-size: x-large; text-align: center">{{month}}</option>
              </select>
            </li>
            <li class="float-left dropdown">
              <select name="selectedYear" id="selectedYear" class="form-control" formControlName="year"
                      style="font-size: x-large">
                <option class="input" *ngFor="let year of yearList"
                        style="font-size: x-large; text-align: center">{{year}}</option>
              </select>
            </li>
          </ul>
        </form>
      </div>
    </li>
    <li class="float-left">
      <button type="button" class="btn-floating btn-light-blue" (click)="nextMonth()" *ngIf="!flagEditDateActive">
        <i class="material-icons">arrow_forward</i>
      </button>
    </li>
    <li class="float-left">
      &nbsp;
    </li>
    <li class="float-left">
      <button type="button" class="btn-floating btn-light-blue" (click)="createOptionLists()"
              *ngIf="!flagEditDateActive">
        <i class="material-icons">date_range</i>
      </button>
    </li>
    <li class="float-left">
      <button type="button" class="btn-floating btn-light-red" (click)="setEditDateInactive()"
              *ngIf="flagEditDateActive">
        <i class="material-icons">clear</i>
      </button>
    </li>
    <li class="float-left">

    </li>
  </ul>
</div>





