<h3>Expense list</h3>
<div>
  <a href="http://localhost:4200/expense-add" class="nav-link">Add New Expense</a>
</div>
<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped" >
      <thead class="thead-dark sticky-top" >
      <tr>
        <th scope="col">ID</th>
        <th scope="col">User</th>
        <th scope="col">Amount</th>
        <th scope="col">Currency</th>
        <th scope="col">Description</th>
        <th scope="col">Pay Date</th>
        <th scope="col">Pay Method</th>
        <th scope="col">Category</th>
        <th scope="col">Created by</th>
        <th scope="col">Updated by</th>
        <th scope="col">Create date</th>
        <th scope="col">Update date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let expense of responseExpenses.expenses">
        <td>{{ expense.id }}</td>
        <td>{{ expense.user }}</td>
        <td>{{ expense.amount }}</td>
        <td>{{ expense.currency }}</td>
        <td>{{ expense.description }}</td>
        <td>{{ expense.payDate }}</td>
        <td>{{ expense.payMethod.payMethodName }}</td>
        <td>{{ expense.expenseCategory.categoryName }}</td>
        <td>{{ expense.createdUser }}</td>
        <td>{{ expense.updatedUser }}</td>
        <td>{{ expense.createdDate }}</td>
        <td>{{ expense.updatedDate }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

